<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/addUser.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="logo">
      <img
        src="https://i.ibb.co/S39R4j6/image-2023-04-27-024903791-removebg-preview.png"
        alt="https://i.ibb.co/S39R4j6/image-2023-04-27-024903791-removebg-preview.png"
      />
    </div>
    <dev class="main">
      <div class="create">
        <form
          action="/newuser/upload"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="mainInfo">

            <div class="userName"><p>User Name:</p>
              <input class="ii" type="text" id="userName" name="userName" />
              <p>Email</p>

              <input type="email" id="email" name="email" />
            </div>
            <div class="password">
              <div class="passwordI"><p>Password:</p>
                <input
                  class="ii"
                  type="password"
                  id="password"
                  name="password"
                /></div>
              <div class="passwordI">
                <p>Confirm Password:</p>
                <input
                  class="ii"
                  type="password"
                  id="confirm password"
                  name="confirmPassword"
                /></div>
            </div>

          </div>
          <div class="games">
            <div class="gamesTitle"><p>My Favorite Games</p></div>
            <div class="games__content">
              <div class="sw">
                <div class="flag">
                  <img
                    src="/images/League of Legends.svg"
                    alt="League of Legends.svg"
                  />
                  <p>League Of Legends</p></div>
                <label class="switcher">
                  <input type="checkbox" name="LeagueOfLegends" />
                  <div class="switcher__indicator"></div>

                </label>

              </div>
              <div class="sw">
                <div class="flag">
                  <img src="/images/Valorant.svg" alt="Valorant.svg" />

                  <p>Valorant</p></div>
                <label class="switcher">
                  <input type="checkbox" name="Valorant" />
                  <div class="switcher__indicator"></div>

                </label>

              </div>
              <div class="sw">
                <div class="flag">
                  <img
                    src="/images/Teamfight Tactics.svg"
                    alt="Teamfight Tactics.svg"
                  />
                  <p>TFT</p></div>
                <label class="switcher">

                  <input type="checkbox" name="TFT" />
                  <div class="switcher__indicator"></div>

                </label>

              </div>
            </div>
          </div>
          <div class="games gccc">
            <div class="left">
              <div class="gamesTitle gcc"><p>My Languages</p> </div>
              <div class="games__content gc">
                <div class="sw">

                  <div class="flag">
                    <img
                      src="/images/saudi-arabia-flag-icon.svg"
                      alt="saudi-arabia-flag-icon.svg"
                    />
                    <p>Arabic</p></div>

                  <label class="switcher">
                    <input type="checkbox" name="Arabic" />
                    <div class="switcher__indicator"></div>

                  </label>

                </div>
                <div class="sw">
                  <div class="flag">
                    <img src="/images/Flag_US.svg" alt="Flag_US.svg" />
                    <p>English</p>
                  </div>

                  <label class="switcher">
                    <input type="checkbox" name="English" />
                    <div class="switcher__indicator"></div>

                  </label>
                </div>
              </div>
            </div>
            <div class="right">
              <p>Description:</p>
              <textarea id="description" name="description"></textarea>

            </div>
          </div>
          <div class="bfg">

          </div>
          <div class="gccc">

            <div class="left">
              <div class="pic">
                <p>Link For User Image:</p>
                <input
                  class="io"
                  type="text"
                  id="titlePhoto"
                  name="titlePhoto"
                />
                <p>
                  Link For Big Image:</p>
                <input class="io" type="text" id="bigPhoto" name="bigPhoto" />

              </div>
            </div><div class="right">
              <input class="submit" type="submit" value="Sign Up" />
            </div>
          </div>

        </form>
      </div>

    </dev>

  </body>
</html>