<form action="/upload" method="POST" enctype="multipart/form-data">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" />
  <br /><br />
  <label for="id">ID:</label>
  <input type="number" id="id" name="id" />
  <br /><br />
  <label for="id">Age:</label>
  <input type="number" id="age" name="age" />
  <br /><br />
  <label for="description">Description:</label>
  <textarea id="description" name="description"></textarea>
  <br /><br />
  <label for="titlePhoto">Link For User Image:</label>
  <input type="text" id="titlePhoto" name="titlePhoto" />
  <br /><br />
  <label for="bigPhoto">
    Link For Big Image:</label>
  <input type="text" id="bigPhoto" name="bigPhoto" />
  <br /><br />

  <input type="submit" value="Upload" />
</form>