<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <title>Document</title>
  </head>
  <body>

    </div>
    <div class="main">
          <div class="logo">
      <img
        src="https://i.ibb.co/S39R4j6/image-2023-04-27-024903791-removebg-preview.png"
        alt="https://i.ibb.co/S39R4j6/image-2023-04-27-024903791-removebg-preview.png"
      />
      <div class="login">
        <form
          action="/login/login"
          method="POST"
          enctype="multipart/form-data"
        >
          <div class="inside">
            <p>User Name:</p>
            <input type="text" id="userName" name="userName" />
            <p>Password:</p>
            <input type="password" id="password" name="password" />
            <input id="submit" class="submit" type="submit" value="Log In" />
          </div>

        </form>
      </div>
    </div>
  </body>
</html>