body {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-items: center;
  font-size: large;
}
.logo > img {
  margin-top: 1vh;
}
.mainInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.password {
  display: grid;
  grid-template-columns: 1fr;
}
.games__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.switcher {
  display: grid;
  grid-template-columns: 1fr;
}

.games {
  display: inline-block;
  text-align: center;
}

.games__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  margin-left: 4vw;
}
.gc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 35vw;
}
.gcc {
  display: grid;
  justify-items: center;
  width: 35vw;
}
.gccc {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  justify-items: center;
}
.gamesTitle {
  font-size: large;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 30px;
  display: grid;
}

.switcher {
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 3vh;
  line-height: 15vh;
  font-size: large;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.switcher input {
  display: none;
}

.switcher__indicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #d5d5d5;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-animation-name: pulsein;
  animation-name: pulsein;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.switcher__indicator::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  width: 80px;
  height: 8px;
  background-color: #d5d5d5;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
input:checked + .switcher__indicator::after {
  background-color: #29ce9a;
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-animation-name: pulseout;
  animation-name: pulseout;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
input:checked + .switcher__indicator::before {
  background-color: #29ce9a;
}
input:disabled + .switcher__indicator::after,
input:disabled + .switcher__indicator::before {
  background-color: #e5e5e5;
}

@-webkit-keyframes pulsein {
  0%,
  100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}

@keyframes pulsein {
  0%,
  100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}
@-webkit-keyframes pulseout {
  0%,
  100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}
@keyframes pulseout {
  0%,
  100% {
    top: 0px;
    height: 40px;
    width: 40px;
  }
  50% {
    top: 6px;
    height: 28px;
    width: 52px;
  }
}
.switcher {
  display: grid;
  grid-template-columns: 1fr;
}
.switcher {
  margin-left: 3vw;
}
.sw {
  width: 10vw;
}
.sw img {
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
}
.flag {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 16fr;
}
.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 80vw;
  margin-top: 2vh;
}
select {
  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 7px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;
  margin-left: 1vw;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 12vw;
  height: 4.7vh;
}

select.round {
  background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    radial-gradient(#ddd 70%, transparent 72%);
  background-position: calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px), calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
}
select.round:focus {
  background-image: linear-gradient(45deg, white 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, white 50%),
    radial-gradient(gray 70%, transparent 72%);
  background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em,
    calc(100% - 0.5em) 0.5em;
  background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

input {
  width: 12vw;
  height: 4vh;
  font-size: medium;
  font-weight: 600;
  margin-left: 1vw;
  border-radius: 7px;
}
.ii {
  width: 15vw;
}
.io {
  width: 30vw;
}
#email {
  width: 20vw;
}

.create > form {
  display: grid;
  grid-template-columns: 1fr;
  width: 65vw;
  height: 83vh;
  font-size: large;
  background-color: rgba(123, 232, 224, 1);
  border-radius: 7px;
}
.create > form p {
  height: 0.1vh;
  margin-left: 0.5vw;
  font-size: large;
}
.submit {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 7px;
  color: rgba(0, 0, 0);
  border: none;

  width: 13vw;
  margin-left: 4vw;
}
.submit:hover {
  background-color: azure;
  cursor: pointer;
}
#description {
  width: 22vw;
  height: 6vh;
}

.inside > input {
  margin-top: 1.5vh;
}
h1 {
  font-size: 3vw;
  margin-left: 0.5vw;
  color: rgba(195, 196, 191);
  margin-top: 4vh;
}
p {
  font-size: 1vw;
  margin-bottom: 3vh;
}
#description {
  resize: none;
  width: 20vw;
  height: 7vh;
  border-radius: 7px;
  font-size: large;
  font-weight: 500;
}
#submit {
  width: 10vw;
  margin-left: 5vw;
}
.right {
  display: grid;
  margin-top: 2vh;
  height: 20vh;
  justify-items: center;
  align-items: center;
}
