body {
  display: grid;
  grid-template-rows: 1fr 1fr 0.2fr 1fr 2fr;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: brown;
  height: 100vh;
}
.mainBar {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100vw;
}
.hello {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 20vh;
  width: 30vw;
}
.hello > img {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}
a {
  color: #00b7ff;
}
.des {
  height: 20vh;
  width: 90vw;
}
.bigPhoto {
  width: 70vw;
  height: 50vh;
}
