* {
  font-family: Cursive;
  color: rgba(54, 49, 34);
}

body {
  height: 100vh;
  width: 100vw;
}
.info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 35vh;
  margin-top: 2.5vw;
}
.left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
  justify-items: center;
  align-items: center;
}
img {
  height: 5vw;
  width: 5vw;
}
.left > img {
  border-radius: 50%;
  width: 17vw;
  height: 17vw;
}
.left > h3 {
  font-size: 30px;
}
.infoCard {
  width: 50vw;
  height: 35vh;
  background-color: rgba(123, 232, 224, 1);
  border-radius: 15px;
}
.infoCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.leftCard {
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 3vw;
  margin-top: 2vw;
}
.rightCard {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 2vw;
  margin-left: 3vw;
}
.games {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}
.lang {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
}
.left > H3 {
  text-align: center;
}
.description {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 6vh;
}
.bigPhoto {
  display: grid;

  justify-items: center;
  align-items: center;
}
.bigPhoto > img {
  height: 40vh;
  width: 90vw;
  border-radius: 15px;
}
